.App {
  font-family: sans-serif;
  /* text-align: center; */
}
/* Ensures that buttons are placed on new lines */
.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons horizontally */
  justify-content: center; /* Center buttons vertically if container has height */
  min-height: 100px; /* Optional: You can set a specific height if needed */
  gap: 25px;
}
.todo {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}
